form,button, input, select, textarea, option {
    box-sizing: border-box;
    color: $color1;
    display: inline-block;
    font-family: $fontf2;
    font-size:100%;
    margin: 5px;
    position: relative;
    vertical-align: top;
    text-align: center;
    width : 450px;
}
span,label,legend {
    box-sizing: border-box;
    color: $color2;
    font-family: $fontf2;
    font-size:100%;
    height: 1px;
    overflow: hidden;
    width: 1px;
}
form{
    left:30%;
}

table {
    border: 2px solid $color2;
    border-spacing: 0;
    width: 100%;
    color: $color2;
    font-family: $fontf2;
    font-size:100%;
    font-weight: lighter;
    line-height: 1.6;
}
th, td {
    border: 1px solid $color2;
    border-spacing: 0; 
    text-align: left;
    vertical-align: center;
    width: 25%;
}
