h1 {
  color: $black;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
}
h2 {
  color: $darkgrey;
  font-size: 33px;
  font-weight: 300;
  padding: 20px;
  letter-spacing: 1px;
  text-align: left;
}

h3 {
  color: $lightgrey;
  font-size: 24px;
  font-weight: lighter;
  padding: 20px 20px 15px 0px;
  text-align: left;
}

p {
  margin-top: 5px;
  color: $black;
  position: relative;
  text-align: left;
}
