.texto1 {
  flex: 2;
}

.foto {
  flex: 1;
  img {
    height: 50vh;
    border-radius: 50%;
    padding: 30px;
    animation: drop 4s ease;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.presentacion {
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .presentacion {
    flex-direction: column;
  }
  .texto1 {
    margin-top: 5vh;
    text-align: center;
  }
  .texto2 {
    margin-top: 5vh;
    text-align: center;
  }
  .foto {
    flex: 1;
    img {
      margin-top: 50px;
      padding: 20px;
      animation: none;
    }
  }
  h2 {
    padding: 0px 0px 15px 0px;
  }
}
