ul {
    font-size: 0;
    list-style:none;
    padding: 0;
    width: 100%;

    & ul { 
        display: none; 
        position: absolute;

        & li { 
            width: 100%;

        }
    }
}
li {
    display: inline-block;
    position:relative;
    width: 25%;

    ul &:hover ul {
        display:block;
        font-family: $fontf1;
    }
}

a {
    background-color: $color6;
    color:$color2;
    display: block;
    font-family: $fontf1;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
        background-color: $color5;
    }
}