/*VIDEO RESPONSIVE*/
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 90%;
  margin: auto;
  align-items: center;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*FLEXBOX CAMPAÑAS*/
.containerImagen {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  flex-direction: row-reverse;
}

.itemImagen {
  width: 32%;
  padding: 5px;
  position: relative;
  transition: all 1s;

  &:hover {
    background-color: $lightgrey;
  }
}

@media screen and (max-width: 1024px) {
  .containerImagen {
    flex-direction: column;
  }
  .itemImagen {
    width: 100%;
  }
}
