@charset "UTF-8";
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.texto1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.foto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.foto img {
  height: 50vh;
  border-radius: 200px;
  padding: 10px;
  -webkit-animation: drop 3s ease;
          animation: drop 3s ease;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .texto1 {
    margin-top: 5vh;
    text-align: center;
  }
  .texto2 {
    margin-top: 5vh;
    text-align: center;
  }
  .foto {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .foto img {
    padding: 20px;
    -webkit-animation: none;
            animation: none;
  }
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabla table {
  min-height: 60vh;
  border: 2px solid #333333;
  border-spacing: 0;
  width: 90%;
  color: black;
}

.tabla th,
.tabla td {
  border: 1px solid #333333;
  border-spacing: 0;
  text-align: center;
  vertical-align: center;
  width: 25%;
}

.tabla th p,
.tabla td p {
  padding: 10px;
}

h1 {
  color: black;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color: #333333;
  font-size: 33px;
  font-weight: 300;
  padding: 20px 20px 15px 0px;
  letter-spacing: 1px;
  text-align: left;
}

h3 {
  color: #d6d6d6;
  font-size: 24px;
  font-weight: lighter;
  padding: 20px 20px 15px 0px;
  text-align: left;
}

p {
  margin-top: 5px;
  color: black;
  position: relative;
  text-align: left;
}

nav {
  width: 100%;
}

.nav-links {
  border: 0px 1.5px 1.5px 1.5px solid #333333;
  font-size: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links ul {
  display: none;
  position: absolute;
}

.nav-links ul li {
  width: 100%;
}

.nav-link {
  display: inline-block;
  position: relative;
  width: 25%;
  z-index: 1;
}

ul .nav-link:hover ul {
  display: block;
}

.link-menu {
  background-color: white;
  border-bottom: 1px solid;
  color: black;
  display: block;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.link-menu:hover {
  background-color: #d6d6d6;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.titulo-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  max-height: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*MEDIA QUERIES
   Mobile, portrait (vertical): Desde 320px
   /*@media  (orientation: portrait) {...} (orientación vertical)
   Mobile, landscape (horizontal): Hasta 812px
   /*@media  (orientation: landscape) {...} (orientación horizontal)
   Tablet, portrait (vertical): Desde 768px
   /*@media  (orientation: portrait) {...} (orientación vertical)
    @media  (min-width: 768px) {...} (Desde 768px)
    @media  (max-width: 1024px) {...} (Hasta 1024) 
    @media  (min-width: 768px) and (max-width: 1024px) {...} (Desde 768px Hasta 1024) 
   Tablet, landscape (horizontal): Desde 1024px
   /*@media  (orientation: landscape) {...} (orientación horizontal)
   Pantallas de Laptops: Desde 1366px
   Pantallas de computadoras de escritorio: 1680px
   /*@media  (min-device-pixel-ratio: 2) {...} (que minimamente tenga pixel ratio 2)
     @media  (device-pixel-ratio: 3) {...} (que tenga pixel ratio 3) */
/*# sourceMappingURL=estilos.css.map */