* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

footer {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: right;
  align-items: right;
  padding-top: 20px;
}

.titulo-principal {
  display: flex;
  width: 90%;
  margin: auto;
  max-height: 20vh;
  align-items: center;
  text-align: center;
}

.subtitulo {
  display: flex;
  width: 90%;
  margin: auto;
  max-height: 10vh;
  align-items: center;
  text-align: center;
}

.presentacion {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  text-align: center;
}

@import "SCSS/variables";
@import "SCSS/servicios";
@import "SCSS/hs";
@import "SCSS/menu";
@import "SCSS/campania";
@import "SCSS/index";
@import "SCSS/clientes";
/*MEDIA QUERIES
   Mobile, portrait (vertical): Desde 320px
   /*@media  (orientation: portrait) {...} (orientación vertical)
   Mobile, landscape (horizontal): Hasta 812px
   /*@media  (orientation: landscape) {...} (orientación horizontal)
   Tablet, portrait (vertical): Desde 768px
   /*@media  (orientation: portrait) {...} (orientación vertical)
    @media  (min-width: 768px) {...} (Desde 768px)
    @media  (max-width: 1024px) {...} (Hasta 1024) 
    @media  (min-width: 768px) and (max-width: 1024px) {...} (Desde 768px Hasta 1024) 
   Tablet, landscape (horizontal): Desde 1024px
   /*@media  (orientation: landscape) {...} (orientación horizontal)
   Pantallas de Laptops: Desde 1366px
   Pantallas de computadoras de escritorio: 1680px
   /*@media  (min-device-pixel-ratio: 2) {...} (que minimamente tenga pixel ratio 2)
     @media  (device-pixel-ratio: 3) {...} (que tenga pixel ratio 3) */
